.header {
    align-items: center;
    background-image: radial-gradient(circle at 50% -20.71%, #97bdff 0, #3c78f2 50%, #003886 100%);
    border-bottom: 10px solid #000;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

